body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #506adf;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
h1 {
  margin: 0;
  font-size: 2em;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
.subheading {
  font-size: 1.2em;
  margin-top: 30px;
  border-bottom: 2px solid #506adf;
  padding-bottom: 5px;
}
.about-me, .software, .acknowledgements, .note {
  margin-top: 20px;
}
.software p, .acknowledgements p, .note p {
  margin: 10px 0;
}
.button-module {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.button-icon {
  background-color: #506adf;
  border: 2px solid #fff; /* 更新按钮边框为白色 */
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.button-icon img {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
.button-icon:hover {
  background-color: #4053a8;
}
.center {
  text-align: center;
}
.gray {
  color: gray;
}
.menu-button { /* 修改按钮类名为menu-button */
  position: absolute;
  top: 20px;
  left: 20px;
}
